<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Learning - DevOps</title>
</head>
<body>
    <h1>GitHub Learning</h1>
    <p>Here you can find resources and tutorials to learn GitHub.</p>
    <ul>
        <li><a href="{{ url_for('github_questions') }}">Questions</a></li>
        <li><a href="{{ url_for('github_test') }}">Test</a></li>
    </ul>
    <br>
    <a href="{{ url_for('github_index') }}">Return to GitHub Home</a>
</body>
</html>
