<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Learning - DevOps</title>
</head>
<body>
    <h1>Python Learning</h1>
    <p>Here you can find resources and tutorials to learn Python.</p>
    <ul>
        <li><a href="{{ url_for('python_questions') }}">Questions</a></li>
        <li><a href="{{ url_for('python_test') }}">Test</a></li>
    </ul>
    <br>
    <a href="{{ url_for('python_index') }}">Return to Python Home</a>
</body>
</html>
