<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bash Learning - DevOps</title>
</head>
<body>
    <h1>Bash Learning</h1>
    <p>Here you can find resources and tutorials to learn Bash.</p>
    <ul>
        <li><a href="{{ url_for('bash_questions') }}">Questions</a></li>
        <li><a href="{{ url_for('bash_test') }}">Test</a></li>
    </ul>
    <br>
    <a href="{{ url_for('bash_index') }}">Return to Bash Home</a>
</body>
</html>
