<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ansible Learning - DevOps</title>
</head>
<body>
    <h1>Ansible Learning</h1>
    <p>Here you can find resources and tutorials to learn Ansible.</p>
    <ul>
        <li><a href="{{ url_for('ansible_questions') }}">Questions</a></li>
        <li><a href="{{ url_for('ansible_test') }}">Test</a></li>
    </ul>
    <br>
    <a href="{{ url_for('ansible_index') }}">Return to Ansible Home</a>
</body>
</html>
