<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git - DevOps Learning</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Home - DevOps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Git Learning</h1>
    <ul>
        <li><a href="{{ url_for('git_learning') }}">Learning</a></li>
        <li><a href="{{ url_for('git_questions') }}">Questions</a></li>
        <li><a href="{{ url_for('git_test') }}">Test</a></li>
    </ul>
</body>
</html>
