<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL - DevOps Learning</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Home - DevOps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>SQL Learning</h1>
    <ul>
        <li><a href="{{ url_for('sql_learning') }}">Learning</a></li>
        <li><a href="{{ url_for('sql_questions') }}">Questions</a></li>
        <li><a href="{{ url_for('sql_test') }}">Test</a></li>
    </ul>
</body>
</html>
